<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Dashboard</title>
    <link rel="shortcut icon" type="image/jpg" href="/public/images/favicon.png"/>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="vendors/themefy_icon/themify-icons.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
      integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/main.css" />

    <script src="../test.js"></script>
    <style>
      #myChart {
        width: 80%;
        height: 100px;
        
      }
      .chart_div{
        margin:40px 30px;
      }
    </style>
  </head>
  <body class="crm_body_bg">
    <div class="container"><nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary" >
      <div class="container-fluid">
        <a class="navbar-brand" href="/admin_dashboard" >
         <img src="../images/logo.jpeg" alt="" style="height: 40px; width: 40px;background-color: blue;"/>
           Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/editFaculty">Add Faculty Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/facultyreport">Generate Report for Faculties</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/departmentreport">Generate Report for Department</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout" >Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <section class="container main_content dashboard_part">
      <%- include('../partials/facultyreport_dropdown.ejs')%>
        <h1>Faculty-wise charts</h1>
        
        <%for(list of record){%>
        <%for(i=0 ; i<record.length ; i++){%>
        <div class="chart_div">
          <canvas id="myChart<%= i%>" width="500" height="300" role="img"></canvas>
        </div>
        <script>
                var ctx = document.getElementById("myChart<%=i%>");
                var myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels: ["Voice", "Speed", "Presentation", "Communication", "Interest", "Knowledge" , "Assessible" , "Simulation" , "Encourage" , "Overall"],
                      datasets: [{
                          label: '<%= record[i].Professor%>',
                          data: ["<%= record[i].voice_avg %>" , '<%= record[i].speed_avg%>',"<%= record[i].Presentation_avg%>",'<%= record[i].Communication_avg%>','<%= record[i].Interest_avg%>','<%= record[i].knowledge_avg%>','<%= record[i].assessible_avg%>','<%= record[i].simulation_avg%>','<%= record[i].encourage_avg%>','<%= record[i].overall_avg%>'],
                          backgroundColor: [
                          'rgba(121, 224, 0, 8)',
			                    'rgba(0, 162, 252, 10)',
			                    'rgba(153, 102, 255, 10)',
			                    'rgba(240, 133, 61, 3)',
			                    'rgba(75, 192, 192, 10)',
			                    'rgba(160, 160, 160, 10)',
			                    'rgba(203, 166, 248, 5)',
			                    'rgba(255, 0, 127, 10)',
			                    'rgba(229, 249, 55, 10)',
			                    'rgba(255, 102, 178, 10)'
                        ],
                        borderColor: [
													'rgba(0, 0, 0, 10)',
													'rgba(0, 0, 0, 10)',
													'rgba(0, 0, 0, 10)',
													'rgba(0, 0, 0, 10)',
													'rgba(0, 0, 0, 10)',
													'rgba(0, 0, 0, 10)'
	                      	],
		                    borderWidth: 1.5
	                  }]
                  },
                  options: {
	                    responsive:false,
                      layout:{
                      padding:
                      {
                        left: 50,
                        right: 20,
                        top: 50,
                        bottom: 20
                    },
	                },
	                    scales: {
	            	      y: {
                        beginAtZero: true
                      }
                    }
                  }
              });
        </script>
        <%}%>
        <%}%>
    </section>
   

    <script src="../js/custom.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.6/metisMenu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>


    <script src="../js/custom.js"></script>
  </body>
</html>
