<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="vendors/themefy_icon/themify-icons.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
      integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
      crossorigin="anonymous"
    ></script>
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="/public/images/favicon.png"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <style>
      #myChart {
        width: 80%;
        height: 100px;
        
      }
      .chart_div{
        margin:40px 30px;
      }
    </style>
  </head>
  <body class="crm_body_bg">
    <div class="container">
      <!-- <input class="toggler fas fa-times-circle" style="font-size: 48px; color: Dodgerblue;" type="checkbox">
      -->
       <input class="toggler fas fa-bars" style="font-size: 48px; color: Dodgerblue;" type="checkbox">
     <nav class="sidebar">
       <div class="logo d-flex justify-content-between">
         <a><img src="../images/logo.jpeg" alt="" /></a>
         <div class="sidebar_close_icon d-lg-none">
           <i class="ti-close"></i>
         </div>
       </div>
       <ul id="sidebar_menu">
         <li class="mm-active">
           <a href="/admin_dashboard" aria-expanded="false">
             <img src="../images/dashboard.svg" alt="" />
             <span>Dashboard</span>
           </a>
         </li>
 
         <li class="">
           <a href="/editFaculty" aria-expanded="false">
             <img src="../images/10.svg" alt="" />
             <span>Add Faculty Details</span>
           </a>
         </li>
 
         <li class="">
           <a href="/facultyreport" aria-expanded="false">
             <img src="../images/001-teacher.svg" alt="" />
             <span>Generate Report for Faculties</span>
           </a>
         </li>
 
         <li class="">
           <a href="/departmentreport" aria-expanded="false">
             <img src="../images/department.svg" alt="" />
             <span>Generate Report for Department</span>
           </a>
         </li>
 
         <li class="">
           <a href="/logout" aria-expanded="false">
             <img src="../images/002-logout.svg" alt="" />
             <span>Logout</span>
           </a>
         </li>
       </ul>
     </nav>
 </div>
  
  
    <section class="main_content dashboard_part">
      <h1>department-wise charts</h1>
      <%for(list of record){%>
        <%for(i=0 ; i<record.length ; i++){%>
        <div class="chart_div container">
          <canvas id="myChart<%= i%>" width="500" height="500" role="img"></canvas>
        </div>
        <script>
                var ctx = document.getElementById("myChart<%= i%>");
                var myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels: ["Voice", "Speed", "Presentation", "Communication", "Interest", "Knowledge" , "Assessible" , "Simulation" , "Encourage" , "Overall"],
                      datasets: [{
                          label: '<%= record[i].department%>',
                          data: ["<%= record[i].voice_avg %>" , '<%= record[i].speed_avg%>',"<%= record[i].Presentation_avg%>",'<%= record[i].Communication_avg%>','<%= record[i].Interest_avg%>','<%= record[i].knowledge_avg%>','<%= record[i].assessible_avg%>','<%= record[i].simulation_avg%>','<%= record[i].encourage_avg%>','<%= record[i].overall_avg%>'],
                          backgroundColor: [
                          'rgba(121, 224, 0, 8)',
			                    'rgba(0, 162, 252, 10)',
			                    'rgba(153, 102, 255, 10)',
			                    'rgba(240, 133, 61, 3)',
			                    'rgba(75, 192, 192, 10)',
			                    'rgba(160, 160, 160, 10)',
			                    'rgba(203, 166, 248, 5)',
			                    'rgba(255, 0, 127, 10)',
			                    'rgba(229, 249, 55, 10)',
			                    'rgba(255, 102, 178, 10)'
                        ],
                        borderColor: [
													'rgba(0, 0, 0, 10)',
													'rgba(0, 0, 0, 10)',
													'rgba(0, 0, 0, 10)',
													'rgba(0, 0, 0, 10)',
													'rgba(0, 0, 0, 10)',
													'rgba(0, 0, 0, 10)'
	                      	],
		                    borderWidth: 1.5  
                      }]
                    },
                  options: {
	                    responsive:false,
                      layout:{
                      padding:
                      {
                        left: 50,
                        right: 20,
                        top: 50,
                        bottom: 20
                    }
	                },
	                    scales: {
	            	      y: {
                        beginAtZero: true
                      }
                    }
                  }
                  });
        </script>
        <%}%>
        <%}%>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/3.0.6/metisMenu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script src="../js/custom.js"></script>
  </body>
</html>
